<?xml version='1.0' encoding='utf-8'?>
<widget id="com.travel.app" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Travel</name>
    <description>The best application for trips inside Sharm El Sheikh</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-navigation href="about:*" />
    <allow-navigation href="http://192.168.1.6:9400" />
</widget>
